.image {
    -fx-border-color: black;
}

.shareButton {
    -fx-background-color: #727272;
    -fx-border-color: black;
    -fx-border-width: 0 1 1 1;
}

.preparationPane {
    -fx-border-color: black;
}

.preparationText {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}