.menuButton {
    -fx-border-color: black;
}

.menuButton > .arrow-button {
    -fx-padding: 0;
}

.menuButton > .arrow-button > .arrow {
    -fx-padding: 0;
}

.topGrid {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}

.scroll-pane {
    -fx-background-color: transparent;
}